/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* ~& General : */
body {
  font-family: "Open Sans", sans-serif;
  
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}


ul {
  list-style: none;
}

p{
  margin-bottom: 10px;
}
.btn{
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
}
.btn-primary{
  background: white;
  color: #222;
}
.btn-primary:hover{
  background:#222;
  color:white;
}
.my-10{
margin-top: 10px;
margin-bottom: 10px;
}









/* Header : */
.header {
  background: #333;
  overflow: auto;
  line-height: 1.7em;
}

.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.header nav ul {
  float: right;
}

.header nav ul li {
  float: left;
}

.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.header nav ul li a:hover {
  background: #444;
  filter:brightness(150%);
  
}

.active{
  background-color: #444;
}

/* vp */
.vp{ 
  height:700px;
  background: url(../images/frame.jpg) center center/cover;
  /* background-position: center center ;
  background-size:cover; */
  text-align: center;
}
.vp-content{
  display: block;
  margin: auto;
  padding: 30px;
  padding-top: 170px;
  max-width: 500px;
  color: white;
}
.vp-content h1{
    font-size: 3rem;
}
.separator{
  background: #111;
  height: 10px;
  width: 100px;
  margin: 20px auto;
}
.vp-content p{
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}
.features{
  padding: 100px 30px;
  text-align: center;
  overflow: auto;
}
.container{
  max-width: 1000px;
  display: block;
  margin: auto;
}
.feature{
  float: left;
  width: 50%;

}
h2{
  margin-bottom: 20px;
}
p{
  margin-bottom: 10px;
}

.person{
  height: 500px;
  background: url(../images/person-1.jpg) center center / cover;
}
 
.reservation{
  padding: 100px 20px ;
  text-align: center;}
  .btn-dark{
    background: #222;
    color: white;
  }
  .my-20{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer{
    background: #222;
    color: white;
    padding: 30px 0px 30px 0px;
    text-align: center;
  }



/** zoom */

.zoom {
  transition: 0.7s ease;
}

  .zoom:hover {
    transform: scale(1.1);
}

/* * where */
.where{
  padding: 180px 0 100px 0 ;
  overflow: auto;
  min-height: 100vh;
}
.where-img{ 
  float: left;
  width: 40%;
}
.where-text{
  float: right;
  width: 50%;
}
.underline{
padding-bottom: 10px;
border-bottom: 1px solid #ddd;
}
.chip{
  background: #332;
  width: 35px;
  border-radius: 100%;
  display: inline-block;
  color: white;
  text-align: center;
}
.chip-purple{
  background:#a0006e;
}
.chip-brown{
  background:#6e491e ;
}

.contact{
  padding: 180px 0 100px 0 ;
  
  min-height: 100vh;
}
.contact-form-container{
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
.contact-form-container form label{
  display: block;
    font-weight: 700;
}
.contact-form-container form input, textarea{
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.contact-form-container textarea{
  min-height: 80px;
}

